body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  border: 6px solid #FFE79E;
  float: left;
  font-size: 90px;
  font-weight: 900; 
  font-family: 'Varela Round', sans-serif;
  color: #2C8DFF;
  height: 106px;
  width: 106px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.icon{
  font-family: 'Varela Round', sans-serif;
}


